

/*  ----   BODY   ----*/
/*
body {

    background-color:white;
    width: 100%;
    margin:0% ;
    

}
*/
/*   ----- NAV -----*/
/*
nav ul li {
   
    display: inline-block;
    border: 20px;
    padding: 20px;
    text-align: right;
    font-family: sans-serif;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;

    
}
    nav ul li a {
    text-decoration:wavy;
    padding-top: 30px;
    color:rgb(78, 78, 150) ;
    
    
}
a {
    color: inherit;
}

.navbar-brand > img {
    border-radius: 70%;
    width: 85px;
}


.viveka {
    color: rgb(78, 78, 150);
    align-items: center;
}


*/

/* ----  MAIN  ----*/
/*
main  {
   
    display: flex;
    flex-direction: row;
    align-content: center;
    

 }

*/


 /*  ----- FOOTER   ----*/


footer {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 30px;
    color: inherit;
    
    

  
}

.iconos img {
     --size:45px;
     width: var(--size);
     height:var(--size);
     border-radius: 50%;
     display: inline-flex;
     justify-content: center;
     align-items: center;


}
.iconos img:hover{
     filter: opacity(0.5);
}






/* --------  PAGINA Index  -------*/

/*

.cajaIndex {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.759);
    width: 500px;
    text-align: center;
    margin-top: 100px;
    
    margin-bottom: 90px;
    box-sizing: border-box;
    padding: 70px 70px 70px 70px;
    box-sizing: content-box;
    animation-name: aparecer;
    animation-duration: 2s;
   
}




.mainText {
    color: rgb(52, 52, 82);

    
}


.headerIndex  {
    display: flex;
    flex-direction: row;
    background-image: url(../imagenes/yogamanosback.jpg);
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 85%;
    padding: 70px;
    margin-top: 100px;
   


}

.icono-meditacion{
    --box-size:100px;
    width: var(--box-size);
    height: var(--box-size);
    padding: 5px;
}




.imagenIndex {
    width: 900px;
    padding-top: 90px;
}

@keyframes aparecer {
    0% {
        opacity: 0%;
    }
    
    100% {opacity: 100%;}
}

*/
/* tamaño mobile*/
/*

@media  screen and (max-width: 320px)
 { 
    .imagenIndex {
    align-items: center;
    width: fit-content;
    padding-top: 20px;
    margin: 0%;


 } 
 

 .cajaIndex {
    padding: 10px;
    width: 320px;
    margin:0%;
    align-items: center;
 }

nav ul li {
   display: flex;
   flex-direction: row;
    font-size: 10px;

 }
}

*/
/* ------- PAGINA profesores  --------*/

/*
.cajaProfesores {
    display: flex;
    flex-direction:column;
    padding: 280px;
    padding-top: 50px;
    margin-top: 250px;
    

}
 


.nombreProfes {
    
    font-family:sans-serif;
    text-align: center;
    font-size: 50px;
  align-content: center;
  color:rgb(67, 57, 114);



   
    
}

.parrafoProfes {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 25px;
    align-content: space-around;
    color: rgb(60, 53, 114);
    padding-left: 20px;
    padding-right: 20px;
    color:rgb(90, 95, 154);
 

}


.cajitaProfes {
    display: flex;
    flex-direction:column;
    
    
}
.profe1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.699);
    padding-top: 10px;
    padding-bottom: 10px;

    
    
}

.profe1 img {
    width: 360px;
    padding: 20px;

}

 .profe2 {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.699);
    padding-top: 10px;
    padding-bottom: 10px;
 }

 .profe2 img{
    width: 500px;
    padding: 20px;
 }

.profe3 {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.699);
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.profe3 img{
    width: 490px;
    padding: 20px;
}


*/





/* -------  PAGINA contacto   -----*/

/*
form {
    background-color: rgba(228, 216, 216, 0.534) ;
    width: 400px;
    border-radius: 3px;
    padding: 20px 40px;
    margin: auto;
    margin-top: 160px;

}


legend {
    color: white;
    text-align: left;
    font-size: 30px;

}


input, textarea {
    display: block;
    width:100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    height: 150px;
}


#boton {
    background: rgb(63, 63, 75);
    color: white;
    padding: 20px;

}

#boton:hover {
    cursor: pointer;
}



label {
    display: inline;
}


 
*/
/*   ----- PAGINA  clases   ---- */
/*
.headerClases{
    margin-top: 140px;
   
}


.claseonline{
    width: 350px;
    background-color: white;
    align-items: center;
    
}


.clasepresencial {
    width: 350px;
    background-color: white;
    align-items: center;
    
}

.clasepresencial:hover{
    filter: opacity(0.5);
}


.claseonline:hover{
    filter: opacity(0.5);
}

@media  screen and (max-width: 320px)
{
    .clasepresencial {
        width: 250px;

}
 .claseonline {
    width: 250px;
 }

footer{
    padding-left: 15px;
}
}
*/

 /*  ------ PAGINA formacion   -----*/
/*
 .mainFormacion {
    display: flex;
    flex-direction: column;
 }

 .imagenFormacion1 {
    width: 50px;

 }

*/

 /*  ------   Libros  ------*/
/*

 .mainLibros {
    display: flex;
    flex-direction: column;

 }

 */