.mainText {
  color: #343452; }

.headerIndex {
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-position: center;
  height: 85%;
  margin-top: 150px; }

.icono-meditacion {
  --box-size:100px;
  width: var(--box-size);
  height: var(--box-size);
  padding: 5px; }

.videoindex {
  animation-name: aparecer;
  animation-duration: 2s; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

/* ---- MEDIA QUERY  -----  */
@media screen and (max-width: 375px) {
  .headerIndex {
    margin-top: 200px; }
  nav ul li {
    display: flex;
    flex-direction: row;
    font-size: 10px; } }

.headerClases {
  margin: 0%;
  padding-top: 200px;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px; }

.presencial {
  margin-top: 80px; }

.online {
  margin-top: 80px; }

.claseonline, .clasepresencial {
  width: 320px;
  align-items: center; }

.clasepresencial {
  width: 310px; }

.clasepresencial:hover {
  filter: opacity(0.5); }

.claseonline:hover, .clasepresencial:hover {
  filter: opacity(0.5); }

ebkit-keyframes fadeInUp from {
  transform: translate3d(0, 40px, 0); }

ebkit-keyframes fadeInUp to {
  transform: translate3d(0, 0, 0);
  opacity: 1; }

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both; }

.animatedFadeInUp {
  opacity: 0; }

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp; }

/* ----- MEDIA QUERY -----  */
@media screen and (max-width: 768px) {
  .clasepresencial {
    width: 200px; }
  .claseonline, .clasepresencial {
    width: 170px; }
  .presencial {
    text-align: center; }
  .online {
    text-align: center; }
  .headerClases {
    margin-left: 30px; }
  footer {
    padding-left: 15px; } }

.bodyprofes {
  margin: 0px; }

.mainProfes {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 200px;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px; }

.profes {
  width: 390px;
  margin-top: 100px; }

@media screen and (max-width: 320px) {
  .profes {
    width: 350px;
    margin: 14px; } }

.cursos {
  margin-top: 200px;
  align-content: space-around;
  margin-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px; }

.profesorado {
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 100px; }

.profesorado:hover {
  cursor: pointer;
  filter: grayscale(100%); }

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0); }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0); }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both; }

.animatedFadeInUp {
  opacity: 0; }

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp; }

@media screen and (max-width: 375px) {
  .profesorado {
    width: 300px; } }

.mainLibros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px; }

.libro1 {
  width: 150px; }

.libro2 {
  width: 180px; }

.libro3 {
  width: 200px; }

.libro4 {
  width: 250px; }

.libro {
  width: 400px;
  padding: 80px;
  margin-bottom: 30px; }

.libro5 {
  width: 150px; }

.libro:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

.libro {
  overflow: hidden; }

@media screen and (max-width: 375px) {
  .libro {
    width: 300px; } }

form {
  background-color: rgba(228, 216, 216, 0.534);
  width: 400px;
  border-radius: 3px;
  padding: 20px 40px;
  margin: auto;
  margin-top: 200px; }

legend {
  color: white;
  text-align: left;
  font-size: 30px; }

input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 17px;
  border: none; }

textarea {
  height: 150px; }

#boton {
  background: #3f3f4b;
  color: white;
  padding: 20px; }

#boton:hover {
  cursor: pointer; }

label {
  display: inline; }

/*  ----- BODY  ------*/
body {
  background-color: white;
  width: 100%; }

/*  ------ NAV  ------ */
nav ul li {
  display: inline-block;
  border: 20px;
  padding: 20px;
  text-align: right;
  font-family: sans-serif;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none; }
  nav ul li a {
    padding-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none; }

.navbar-brand > img {
  border-radius: 70%;
  width: 85px; }

.nav-link {
  color: #5555a7; }

.viveka {
  color: #4e4e96;
  align-items: center; }

/* -----  FOOTER  ----- */
footer {
  text-align: center;
  background-color: white;
  padding-top: 10px;
  color: inherit; }

.iconos img {
  --size:45px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center; }

.iconos img:hover {
  filter: opacity(0.5); }

/* TITULOS*/
H1 {
  color: #ba6520; }

/*   BANNER   */
.banner {
  margin-top: 50px;
  height: 60%; }

@media screen and (max-width: 768px) {
  .navbar-brand > img {
    width: 70px; }
  nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0; } }
