.sectionindex {
  padding: 0%;
}

.mainText {
  color: rgb(52, 52, 82);
}

.headerIndex {
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-top: 90px;
}

.icono-meditacion {
  --box-size:100px;
  width: var(--box-size);
  height: var(--box-size);
  padding: 5px;
}

.videoindex {
  animation-name: aparecer;
  animation-duration: 2s;
  align-items: center;
}

@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/* ---- MEDIA QUERY  -----  */
@media screen and (max-width: 320px) {
  .headerIndex {
    margin-top: 120px;
  }
  nav ul li {
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }
  .sectionindex {
    width: 310px;
  }
  .videoindex {
    width: 320px;
    padding: 0px;
  }
  .icono-meditacion {
    width: 80px;
  }
}
.clases img {
  width: 100%;
  margin-top: 120px;
  height: 400px;
}

.textoclase {
  font-size: 25px;
  padding-top: 15px;
  padding-right: 70px;
  padding-left: 70px;
  text-align: center;
}

.presencial {
  margin-top: 80px;
}

.online {
  margin-top: 80px;
}

.claseonline, .clasepresencial {
  width: 320px;
  align-items: center;
}

.clasepresencial {
  width: 310px;
}

.clasepresencial:hover {
  filter: opacity(0.5);
}

.claseonline:hover, .clasepresencial:hover {
  filter: opacity(0.5);
}

ebkit-keyframes fadeInUp from {
  transform: translate3d(0, 40px, 0);
}
ebkit-keyframes fadeInUp to {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* ----- MEDIA QUERY -----  */
@media screen and (max-width: 768px) {
  .clasepresencial {
    width: 200px;
  }
  .claseonline, .clasepresencial {
    width: 170px;
  }
  .presencial {
    text-align: center;
  }
  .online {
    text-align: center;
  }
  footer {
    padding-left: 15px;
  }
  .clases img {
    height: 150px;
    width: 100%;
  }
  .textoclase {
    font-size: 15px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.mainProfes {
  display: flex;
  flex-direction: column;
  margin-top: 121px;
  margin-bottom: 100px;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0%;
}

.profesores img {
  width: 100%;
  height: 400px;
}

h1 {
  padding-top: 50px;
  text-align: center;
  text-decoration: overline;
}

.tituloprofesores {
  margin-top: 15px;
}

.profes {
  width: 390px;
  margin-top: 50px;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .profes {
    width: 300px;
    margin: 14px;
  }
  .profesores img {
    height: 150px;
    width: 100%;
  }
}
.cursos {
  align-content: space-around;
  margin-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.formacion img {
  width: 100%;
  margin-top: 120px;
  height: 400px;
}

.profesorado {
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 70px;
}
.profesorado h3 {
  font-weight: lighter;
}

.profesorado:hover {
  cursor: pointer;
  filter: grayscale(100%);
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@media screen and (max-width: 900px) {
  .profesorado {
    width: 300px;
  }
  .cursos {
    align-content: space-between;
  }
  .formacion img {
    height: 150px;
    width: 100%;
  }
}
.mainLibros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.h1libros {
  text-decoration: none;
}

.lecturas {
  padding: 10px;
}

.libro1 {
  width: 150px;
}

.libro2 {
  width: 180px;
}

.libro3 {
  width: 200px;
}

.libro4 {
  width: 220px;
}

.libro {
  width: 400px;
  padding: 30px;
  margin-bottom: 30px;
}
.libro p {
  font-size: larger;
  padding-top: 5px;
}
.libro h3 {
  font-size: 20px;
}
.libro h5 {
  font-size: 20px;
}

.libro5 {
  width: 150px;
}

@media screen and (max-width: 375px) {
  .mainLibros {
    margin-top: 110px;
  }
  .libro {
    width: 300px;
    padding: 20px;
  }
  .libro p {
    font-size: medium;
  }
  .libro1 {
    width: 100px;
  }
}
.mainContacto {
  margin-top: 150px;
}

.h1contacto {
  text-decoration: none;
  text-align: left;
}

.contacto {
  padding-top: 20px;
  font-weight: lighter;
  font-size: x-large;
  margin: 0px;
}

form {
  background-color: white;
  width: 100%;
  border-radius: 3px;
  padding: 50px 40px;
  margin: 0px;
}

legend {
  color: black;
  text-align: left;
  font-size: 30px;
}

input, textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid black;
}

textarea {
  height: 150px;
}

#boton {
  background: rgb(63, 63, 75);
  color: white;
  padding: 20px;
  align-items: center;
}

#boton:hover {
  cursor: pointer;
}

label {
  display: inline;
}

.contactoiconos img {
  width: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.contactoiconos img:hover {
  filter: opacity(0.5);
}

@media screen and (max-width: 425px) {
  .mainContacto {
    margin-top: 70px;
  }
  form {
    width: 300px;
    padding: 5px;
  }
  .contacto {
    width: 300px;
    font-size: 20px;
  }
}
/*  ----- BODY  ------*/
.body {
  background-color: white;
  width: 100%;
}

/*  ------ NAV  ------ */
nav ul li {
  display: inline-block;
  border: 15px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}
nav ul li a {
  padding-top: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
}

.navbar-brand > img {
  border-radius: 70%;
  width: 60px;
}

.nav-link {
  color: rgb(85, 85, 167);
}

.viveka {
  color: rgb(78, 78, 150);
  align-items: center;
  width: 60px;
}

/* -----  FOOTER  ----- */
footer {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  color: inherit;
}

.iconos img {
  --size:45px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.iconos img:hover {
  filter: opacity(0.5);
}

/* TITULOS*/
h1 {
  color: rgb(186, 101, 32);
  padding-top: 50px;
  text-align: center;
  text-decoration: overline;
}

/*   BANNER   */
.banner {
  margin-top: 250px;
  height: 60%;
}

@media screen and (max-width: 768px) {
  .navbar-brand > img {
    width: 50px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
