

.clases img  {
 
    width: 100%;
    margin-top: 120px;
     height: 400px;
   
}

.textoclase {
    font-size: 25px;
    padding-top: 15px;
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;

}  
$margenimagenes: 80px;

.presencial {
    margin-top: $margenimagenes;
}



.online {
    margin-top: $margenimagenes;
}



.claseonline{
    width: 320px;
    align-items: center;
    
    
}


.clasepresencial {
    @extend .claseonline;
    width: 310px;
   
}

.clasepresencial:hover{
    filter: opacity(0.5);
}


.claseonline:hover{
    filter: opacity(0.5);
}


ebkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
 
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
 }
 
 .animated {
    animation-duration: 3s;
    animation-fill-mode:both;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both
 }
 
 .animatedFadeInUp {
    opacity: 0
 }
 
 .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
 }


/* ----- MEDIA QUERY -----  */


@media  screen and (max-width: 768px)

{
    .clasepresencial {
        width: 200px;

     } 

     .claseonline {
        width: 170px;
        
     }
     
    .presencial {
        text-align: center;
    }
    
    .online{
        text-align: center;
    }
 
     footer{
    padding-left: 15px;
    }
    .clases img {
        height: 150px;
         width: 100%;
    
    }
    
    .textoclase{
        font-size:15px ;
        text-align: center;
       padding-left: 5px;
       padding-right: 5px;
        
    }
}

