
.headerClases{
    margin: 0%;
    padding-top: 200px;
    margin-bottom: 100px;
}

.presencial {
    margin-top: 80px;
}
.online {
    margin-top: 80px;
}
.claseonline{
    width: 320px;
    background-color: white;
    align-items: center;
    
    
}


.clasepresencial {
    width: 310px;
    background-color: white;
    align-items: center;
   
}

.clasepresencial:hover{
    filter: opacity(0.5);
}


.claseonline:hover{
    filter: opacity(0.5);
}


ebkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
 
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
 }
 
 .animated {
    animation-duration: 3s;
    animation-fill-mode:both;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both
 }
 
 .animatedFadeInUp {
    opacity: 0
 }
 
 .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
 }


/* ----- MEDIA QUERY -----  */


@media  screen and (max-width: 320px)

{
    .clasepresencial {
        width: 250px;

     } 

     .claseonline {
        width: 250px;
        
     }

     .headerClases {  
     margin-left:30px ;
                    
    }
     footer{
    padding-left: 15px;
    }
}

