.mainContacto{
    margin-top: 150px;
    
}

.contacto {
     
    padding-top: 20px; 
    font-weight:lighter;
    font-size: x-large;
    margin:0px;
   
   
   
}

form {
    background-color:white;
    width: 100%;
    border-radius: 3px;
    padding: 50px 40px;
    margin:0px;
   
   

}


legend {
    color: black;
    text-align: left;
    font-size: 30px;
    

}


input, textarea {
    display: flex;
    flex-direction: column;
    
    width:100%;
    margin-bottom: 15px;
    padding: 10px;

    font-size: 17px;
    border:1px solid black;
}

textarea {
    height: 150px;
}


#boton {
    background: rgb(63, 63, 75);
    color: white;
    padding: 20px;
    align-items: center;

}

#boton:hover {
    cursor: pointer;
}



label {
    display: inline;
}

.contactoiconos img {
     width: 50px;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     padding-bottom: 5px;
}
.contactoiconos img:hover{
    filter: opacity(0.5);
}

@media screen and (max-width: 425px)
     {  
        .mainContacto{
        margin-top: 70px;
     }
        form {width: 300px;
            padding: 5px;
     }
     
        .contacto {
            width: 300px;
            font-size: 20px;
        }
     }