.cursos {
 
    align-content: space-around;
   
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
  
}

.formacion img {
    width: 100%;
    margin-top: 120px;
     height: 400px;

}

.profesorado {
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 70px;

    h3 {
        font-weight: lighter;
    }

}

.profesorado:hover{
     cursor: pointer;
    filter: grayscale(100%);
}

@keyframes fadeInUp {
   from {
       transform: translate3d(0,40px,0)
   }

   to {
       transform: translate3d(0,0,0);
       opacity: 1
   }
}

@-webkit-keyframes fadeInUp {
   from {
       transform: translate3d(0,40px,0)
   }

   to {
       transform: translate3d(0,0,0);
       opacity: 1
   }
}

.animated {
   animation-duration: 3s;
   animation-fill-mode:both;
   -webkit-animation-duration: 3s;
   -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
   opacity: 0
}

.fadeInUp {
   opacity: 0;
   animation-name: fadeInUp;
   -webkit-animation-name: fadeInUp;
}
@media screen and (max-width: 900px)
{
 .profesorado{
   width: 370px;
   align-content: center;
   
   
 }
 
 
 .formacion img {
    height: 150px;
     width: 100%;

}
}