

.sectionindex{
    padding: 0%;
}

.mainText {
    color: rgb(52, 52, 82);

    
}


.headerIndex  {
    display: flex;
    flex-direction: row;
  
    background-size: cover;
    background-position:center;
    height: 100%;
    width: 100%;
    margin-top: 90px;
   

   


}

.icono-meditacion{
    --box-size:100px;
    width: var(--box-size);
    height: var(--box-size);
    padding: 5px;
}


.videoindex{
    animation-name: aparecer;
    animation-duration: 2s;
    padding-left: 25px;
  
   
}



@keyframes aparecer {
    0% {opacity: 0%; }
    
    100% {opacity: 100%;}
}



/* ---- MEDIA QUERY  -----  */


@media  screen and (max-width: 375px)
 { 

  .headerIndex{
    margin-top: 200px;
  }
  nav ul li {
   display: flex;
   flex-direction: row;
   font-size: 10px;

 }

}

