



.mainText {
    color: rgb(52, 52, 82);

    
}


.headerIndex  {
    display: flex;
    flex-direction: row;
  
    background-size: cover;
    background-position:center;
    
    height: 85%;
    padding: 70px;
    
   

   


}

.icono-meditacion{
    --box-size:100px;
    width: var(--box-size);
    height: var(--box-size);
    padding: 5px;
}


.videoindex{
    animation-name: aparecer;
    animation-duration: 2s;
   
}



@keyframes aparecer {
    0% {opacity: 0%; }
    
    100% {opacity: 100%;}
}



/* ---- MEDIA QUERY  -----  */


@media  screen and (max-width: 320px)
 { 
    .imagenIndex {
    align-items: center;
    width: fit-content;
    padding-top: 20px;
    margin: 0%;


 } 
 

 .cajaIndex {
    padding: 10px;
    width: 320px;
    margin:0%;
    align-items: center;
 }


nav ul li {
   display: flex;
   flex-direction: row;
   font-size: 10px;

 }
}

