
 .mainLibros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;

 }

.libro1 {
   width: 150px;
   
}


.libro2 {
   width: 180px;
}


.libro3{
   width: 200px;

}

.libro4{
   width: 250px;
}

.libro  {
   width: 500px;
   padding: 50px;
   

   
}
.libro:hover{
   width: 60%;
}
