
.mainProfes{
    display: flex;
    flex-direction: column;

    margin-top: 121px;
    margin-bottom: 10px;
    margin-left:0%;
    margin-right:0%;
    padding: 0%;
    



}
.profesores img  {
 
    width: 100%;
 
   height: 400px;
   
}


 h1 {
    
    padding-top: 50px;
    text-align: center;
    text-decoration:overline;
 }
   
  


.tituloprofesores{
    margin-top: 15px;
}
.profes{
    width:390px;
    margin-top: 50px;
    font-size: 20px;
   margin-left: 20px;
   margin-right: 20px;
   
   
}


@media screen and (max-width: 768px) {

    .profes{
        display: flex;
        flex-direction: column;
    width: 370px;
    margin: 14px;

    
}

   .profesores img{
    height: 150px;
    width: 100%;
   }
}